@import "../components/variables";

.talking-about {
    background-image: url("../images/background/testmonials.png");
    width: 100%;
    max-width: 1380px;
    min-height: 769px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.talking-about:after {
    content: "";
    width: 100%;
    left:0;
    bottom: -18px;
    height: 50px;
    background-color: #4B3B4E;
    position: absolute;
    z-index: -2;
}

.talking-title {
    color: $font-hover;
    text-align: center;
    font-size: 42px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 44px;
    margin: 108px 0 80px 0;
}

.talking-description {
    color: $font-hover;
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    // margin-top: 30px;
    text-align: center;

}

.some-paragraph {
    color: $talking-paragraph;
    text-align: center;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 21px;
    max-width: 887px;
    padding: 0 3.5%;
    position: relative;
}

.some-paragraph:after {
    content: "";
    width: 80%;
    left: calc(50% - (80%/2));
    bottom: -18px;
    height: 2px;
    background-color: #645766;
    position: absolute;
}

.talking-container {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    height: 100%;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 60px;
    margin-bottom: 110px;
}

.talking-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.talking-logo-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.talking-desc-box {
    width: 100%;
    height: 100%;
    align-self: flex-start;
}